.container {

  display: flex;
  justify-content: center;
  height: 100vh;
  /* background-image: url(/home-background.jpg); */
  background-color: #2B303A;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 1000px;
  height: 1000px;
  background-image: url(/dtlogo.png);
}

.backgroundImage {
  width: 100vw;
  height: 100vh;

  background-image: url(/home-background.jpg);
  filter: blur(8px);
  -webkit-filter: blur(5px);
}

.main {

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

